@model ProductVM
@{ ViewBag.Title = "UpdateProduct";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    .field-validation-error {
        color: orangered;
    }
</style>

@using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.HiddenFor(x => x.Product.ID)
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Ürün Güncelleme Sayfası
                            </header>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">İsim</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.Product.ProductName, new { @class = "form-control genislik" })
                                        <br />
                                        @Html.ValidationMessageFor(x => x.Product.ProductName)
                                    </div>
                                </div>
                            </div>


                            <br /> <br />
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Fiyat</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.Product.UnitPrice, new { @class = "form-control genislik" })
                                        <br />
                                        @Html.ValidationMessageFor(x => x.Product.UnitPrice)
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Stok</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.Product.UnitsInStock, new { @class = "form-control genislik" })
                                    </div>
                                </div>
                            </div>


                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Kategori</label>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(x => x.Product.CategoryID, new SelectList(Model.Categories, "ID", "CategoryName"), "Lutfen seciniz")
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Resim seciniz</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="resim" class="form-control genislik" />
                                    </div>
                                </div>
                            </div>




                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Güncelle</label>
                                    <div class="col-sm-10">
                                        <button class="btn btn-primary">
                                            Güncelle
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </section>
                    </div>
                </div>}

